*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
p,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

.container {
  min-width: 320px;
  overflow: hidden;
  width: 1263px;
  position: relative;
  background-color: $general-background;
}
