.information {
  width: 100%;
  height: 300px;
  &__container {
    position: relative;
  }
  &__hours-socials {
    position: absolute;
    top: 20px;
    left: 40px;
  }
  &__find-contact {
    position: absolute;
    top: 20px;
    left: 976px;
  }
  &__days {
    @include navigation;
    &--link {
      text-decoration: underline;
      color: inherit;
      &:hover,
      &:focus {
        color: $reviews-background;
        transition-duration: 0.5s;
        transition-property: color;
      }
    }
  }
  &__logo {
    position: absolute;
    top: 10px;
    left: 600px;
    border: 1px solid black;
    padding: 20px;
  }
  &__border {
    position: absolute;
    top: 250px;
    width: 100%;
    border-bottom: 1px solid $black;
  }
}
.heading--information {
  margin-bottom: 10px;
}
.text--information-left {
  margin-bottom: 10px;
}
.text--information-right {
  margin-bottom: 30px;
}
