.sub-about {
  &__background {
    position: absolute;
    top: 250px;
    right: 0;
    width: 700px;
    height: 320px;
    z-index: 1;
    background-color: $white;
  }
  &__booking .button__services--inside {
    left: 600px;
    background-color: transparent;
    color: $black;
    border: 1px solid $black;
    z-index: 2;
  }
  &__heading-1 {
    left: 600px;
    z-index: 2;
    &--text {
      text-align: left;
      color: $black;
    }
    &--introduction {
      left: 40px;
    }
  }
  &__heading-2 {
    left: 430px;
    z-index: 2;
    &--text {
      color: $black;
    }
    &--introduction {
      left: 40px;
    }
  }
  &__description {
    left: 40px;
  }
  &__images--introduction {
    left: 800px;
  }
  &__border--introduction {
    left: 40px;
  }
  &__grid {
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: space-around;
    &-element {
      width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__image {
    border-radius: 50%;
  }
  &__position {
    @include paragraph;
    margin: 20px 0 10px 0;
  }
  &__name {
    @include first-header-black;
    font-size: 26px;
    text-transform: none;
    margin-bottom: 20px;
  }
  &__paragraph {
    @include paragraph;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 20px;
  }
  &__social {
    pointer-events: auto;
  }
}
